body {
    box-sizing: border-box;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    max-width: 70%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 50px);
    padding: 0 4px 14px 4px;
}

.form-modal > h1 {
    margin: 15px 0 0 0;
    font-size: 2rem;
}

.form-modal > input {
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
}

.form-modal .add, .cancel {
    cursor: pointer;
    font-size: 1.2rem;
}

.form-modal > input:last-of-type {
    margin: 0 0 5px 0;
}

label {
    padding: 15px 0 0 0;
    font-size: 1.2rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

